#titlebar {
    background-color: #22313F;
    color: #ECECEC;
    padding-bottom: 1%;
    padding-top: 1%;
    padding-left: 1%;
    width: 100%;
    position: sticky;
    top: 0;
}

.titlebar__path {
    flex: 1 1 auto;
}

.titlebar__btn {
    flex: 0 0 25px;
    cursor: pointer;
}

#content {
    width: 100%;
    margin: 0;
    padding: 0;
}

.file-list {
    background-color: #2574A9;
    color: white;
}

.dir-list {
    background-color: #52B3D9;
    color: #C5EFF7;
    border-right: 1px solid #E67C20;
}

.dir-list__li {
    padding: 0.8em 0.6em;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dir-list__li:hover {
    background-color: #2C3E50;
    color: white;
}

.icon {
    font-family: 'Material	Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

#footer {
    bottom: 0;
    border-top: 1px solid #E67C20;
    background-color: #22313F;
    color: #ECECEC;
    padding-bottom: 1%;
    padding-top: 1%;
    padding-left: 1%;
    width: 100%;
}

.footer__header {
    margin: 0.2em auto 0 0;
    font-size: 1em;
}