* {
  box-sizing: border-box;
}
body {
  font-family: Palanquin;
  line-height: 2em;
  background-color: #013243;
  color: white;
}

.wrapper {
	max-width: 50rem;
	width: 100%;
	margin: 5rem auto 15rem auto;
	text-align: center;
}

.bouncing_ball {
	position: relative;
	width: 4rem;
	margin: 0 auto;
	height: 12rem;
}

.ball {
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	background-color: white;
	position: absolute;
	top: 0;
	animation: bounce 1s infinite;
}

@keyframes bounce {
	0% {
		top: 0;
		animation-timing-function: ease-in;
	}
	34% {
		height: 4rem;
		width: 4rem;
	}
	35% {
		top: 25rem;
		height: 3rem;
		width: 4.3rem;
		animation-timing-function: ease-out;
	}
	45% {
		height: 4rem;
		width: 4rem;
	}
	90% {
		top 0;
	}
	100% {
		top: 0;
	}
}