<!DOCTYPE html>
<html>
<head>
	<title>Layout Side Bars</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

	<div class="wrapper gradientbg">

		<main>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</main>

		<div class="sidebars">
			<aside class="sidebar left">
				<p>Add Some Widgets</p>
			</aside>
			<aside class="sidebar right">
				<p>Add Some Widgets</p>
			</aside>
		</div>

	</div>

	<ul>
		<li>class: wrapper gradientbg</li>
		<li>class: sidebars</li>
		<li>class: sidebar left</li>
		<li>class: sidebar right</li>
	</ul>

</body>
</html>